* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  background: rgb(32, 32, 39);
  width: 100%;
  max-width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

input,
button {
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  z-index: 20;
}

.header {
  box-sizing: border-box;
  height: 787px;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 48px;
  background: rgb(225, 255, 143);
}
.header__star {
  position: absolute;
}
.header__star--1 {
  top: 94px;
  left: 63px;
}
.header__star--2 {
  top: 69px;
  left: 156px;
}
.header__star--3 {
  top: 538px;
  right: 448px;
}
.header__star--4 {
  top: 568px;
  right: 365px;
}
.header__star--5 {
  top: 0;
  right: 0;
}
.header__content {
  padding-top: 196px;
  width: 1200px;
}
.header__title {
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 48px;
  color: rgb(32, 32, 39);
}
.header__subtitle {
  margin-bottom: 48px;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  color: rgb(32, 32, 39);
}
.header__button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 28px 16px 28px;
  width: 247px;
  box-sizing: border-box;
  border: 1px solid rgb(32, 32, 39);
  border-radius: 60px;
  background: rgb(32, 32, 39);
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 600;
  line-height: 141.69%;
  text-align: center;
  text-decoration: none;
  transition: 0.2s;
}
.header__button:hover {
  background: rgb(255, 255, 255);
  color: rgb(32, 32, 39);
}

.about {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 100px;
}
.about__title {
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 48px;
  color: rgb(255, 255, 255);
}
.about__title-mob {
  display: none;
}
.about__subtitle {
  margin-bottom: 48px;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  color: rgb(255, 255, 255);
}
.about__star {
  position: absolute;
}
.about__star--1 {
  margin-top: 77px;
  right: 0;
  z-index: 0;
}
.about__star--2 {
  margin-top: 770px;
  left: 28px;
}
.about__star--3 {
  margin-top: 822px;
  left: 45px;
}
.about__content {
  padding-top: 196px;
  width: 100%;
}
.about__games-preview {
  width: 100%;
  max-width: 1200px;
}
.about__games-preview-row {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
}
.about__games-preview-row--top {
  margin-top: 72px;
  align-items: flex-start;
}
.about__games-preview-row--bottom {
  align-items: flex-end;
}
.about__games-preview-link {
  text-decoration: none;
  display: block;
}
.about__games-preview-card {
  background-color: white;
  border-radius: 30px;
  padding-bottom: 36px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.about__games-preview-card:hover {
  transform: scale(1.05);
}
.about__games-preview-card-image {
  border-radius: 30px;
}
.about__games-preview-card-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 35px;
}
.about__games-preview-card-number {
  color: rgb(32, 32, 39);
  font-size: 16px;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: 0px;
  text-align: left;
}
.about__games-preview-card-name {
  color: rgb(32, 32, 39);
  font-size: 32px;
  font-weight: 700;
  line-height: 39px;
  letter-spacing: 0px;
  text-align: left;
}
.about__games-preview-card-button {
  display: none;
}

.games {
  background: rgb(32, 32, 39);
  padding-top: 46px;
  padding-bottom: 144px;
  position: relative;
}
.games__title {
  color: rgb(255, 255, 255);
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  letter-spacing: 0px;
  text-align: left;
  padding-top: 46px;
  padding-bottom: 72px;
}
.games__star {
  position: absolute;
}
.games__star--1 {
  width: 35px;
  top: 143px;
  right: 123px;
}
.games__star--2 {
  width: 68px;
  top: 176px;
  right: 45px;
}
.games__star--3 {
  width: 35px;
  bottom: 45px;
  right: 150px;
}
.games__star--4 {
  width: 68px;
  bottom: 65px;
  right: 54px;
}

.game-detail {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: row;
  border-radius: 30px;
  box-shadow: 0px 20px 67px -12px rgba(0, 0, 0, 0.13);
  background: #FFFFFF;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  margin-bottom: 32px;
  overflow: hidden;
  align-items: flex-start;
}
.game-detail__content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 48px;
  flex: 1;
  max-width: 50%;
}
.game-detail__title {
  color: rgb(32, 32, 39);
  font-family: Montserrat;
  font-size: 48px;
  font-weight: 700;
  line-height: 59px;
  letter-spacing: 0px;
  text-align: left;
}
.game-detail__description {
  color: rgb(32, 32, 39);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
}
.game-detail__button {
  width: 247px;
  height: 66px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 16px 28px;
  border-radius: 60px;
  background: rgb(32, 32, 39);
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 600;
  line-height: 141.69%;
  letter-spacing: 0%;
  text-align: center;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 12px;
}
.game-detail__button:hover {
  background-color: #444;
}
.game-detail__image {
  height: 100%;
  width: auto;
  flex-shrink: 0;
}

.footer {
  background: rgb(189, 237, 53);
  padding: 30px 0;
  width: 100%;
}
.footer__copyright {
  display: flex;
  justify-content: center;
}

@media (max-width: 632px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
    width: 100%;
  }
  .header {
    height: 667px;
    padding-top: 40px;
  }
  .header__star--1 {
    width: 35px;
    top: 97px;
    left: 37px;
  }
  .header__star--2 {
    width: 21px;
    left: 92px;
    top: 64px;
  }
  .header__star--3 {
    width: 21px;
    bottom: 24px;
    right: 86px;
  }
  .header__star--4 {
    width: 35px;
    bottom: 28px;
    right: 32px;
  }
  .header__star--5 {
    display: none;
  }
  .header__star--mob {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 180px;
    height: auto;
  }
  .header__content {
    padding: 75px 0;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .header__title {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 40px;
    font-weight: 700;
    line-height: 49px;
    letter-spacing: 0px;
    text-align: center;
  }
  .header__subtitle {
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;
  }
  .header__button {
    width: 285px;
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10;
    padding: 16px 28px 16px 28px;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid rgb(32, 32, 39);
    border-radius: 60px;
  }
  .about {
    display: none;
  }
  .about__star {
    display: none;
  }
  .about__content__title {
    display: none;
  }
  .about__content__title-mob {
    display: block;
    color: #ffffff;
    font-size: 40px;
    font-weight: 700;
    line-height: 49px;
    letter-spacing: 0px;
    text-align: left;
  }
  .about__content__subtitle {
    display: none;
  }
  .about__games-preview-row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 32px;
  }
  .about__games-preview-row--bottom {
    align-content: flex-start;
    margin-top: 32px;
  }
  .about__games-preview-card-button {
    display: block;
    box-sizing: border-box;
    border: 1px solid rgb(32, 32, 39);
    border-radius: 60px;
    background: rgb(32, 32, 39);
    width: 100%;
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10;
    padding: 16px 28px 16px 28px;
    color: #ffffff;
    text-decoration: none;
    margin-top: 16px;
    font-size: 16px;
    font-weight: 600;
    line-height: 141.69%;
    letter-spacing: 0%;
    text-align: center;
  }
  .games__title {
    font-size: 40px;
    font-weight: 700;
    line-height: 49px;
    letter-spacing: 0px;
    text-align: left;
  }
  .games__star {
    display: none;
  }
  .game-detail {
    width: 100%;
    min-height: auto;
    height: auto;
    border-radius: 30px;
    box-shadow: 0px 20px 67px -12px rgba(0, 0, 0, 0.13);
    background: #FFFFFF;
    padding: 0px;
    margin-bottom: 32px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  .game-detail--reversed {
    flex-direction: column;
  }
  .game-detail__image {
    width: 100%;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
    order: 1;
  }
  .game-detail__content {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    margin: 24px;
    order: 2;
  }
  .game-detail__title {
    color: rgb(32, 32, 39);
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0px;
    text-align: left;
    margin: 0;
  }
  .game-detail__description {
    color: rgb(32, 32, 39);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    margin: 0;
  }
  .game-detail__button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 16px 28px;
    box-sizing: border-box;
    border: 1px solid rgb(32, 32, 39);
    border-radius: 60px;
    background: rgb(32, 32, 39);
    font-size: 16px;
    font-weight: 600;
    line-height: 141.69%;
    text-align: center;
    color: white;
    width: 100%;
    margin-top: 8px;
    cursor: pointer;
  }
}/*# sourceMappingURL=style.css.map */